.preloader {
  display: flex;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  position: relative;
  color: var(--white-color);
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: calc(50% - var(--logo-half-size));
  left: calc(50% - var(--logo-half-size));
  transition: 1s linear;
  border: 1px solid var(--separator-color);
}
.animate1 {
  border-radius: 73% 27% 58% 42% / 34% 60% 40% 66%;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.animate2 {
  border-radius: 22% 78% 34% 66% / 58% 18% 82% 42%;
  animation-name: reverse-rotation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.animate3 {
  border-radius: 48% 52% 45% 55% / 41% 43% 57% 59%;
  animation-name: rotation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reverse-rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
