.UniversalTableBody {
	display: grid;
	color: #fff;

	&__row {
		display: grid;

		overflow: hidden;
		animation-name: animateRowTable;
		animation-timing-function: ease-in-out;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
		height: 0;
	}
	&__item {
		border-right: 1px solid rgba(247, 247, 247, 0.186);
		border-top: 1px solid rgba(247, 247, 247, 0.186);
		padding: 0.5rem 1rem;
	}
}

@keyframes animateRowTable {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
